.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: #0e0e0e;
  color: white;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
    border-radius: 50%  ;
    cursor: pointer;
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links li {
  cursor: pointer;
  position: relative;
}

.nav-links li::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  background: cyan;
  transition: 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}
